.appIcon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  @each $name in 'android' 'apple' 'cordova' 'ionic' {
    &.icon-#{$name} {
      background-image: url('../assets/app_icons/#{$name}.png');
    }
  }
  div {
    position: absolute;
    bottom: -14px;
    color: #fff;
    font-size: 14px;
    width: 60px;
    text-align: center;
  }
}
