<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="wallpaper-02">

  <ion-slides pager>

    <ion-slide>
      <ion-grid>
        <ion-row *ngFor="let row of items">
          <ion-col col-3 *ngFor="let item of row">
            <div class="appIcon icon-{{item.category}}"><div>{{item.name}}</div></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row *ngFor="let row of items">
          <ion-col col-3 *ngFor="let item of row">
            <div class="appIcon icon-{{item.category}}"><div>{{item.name}}</div></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide >
      <ion-grid>
        <ion-row *ngFor="let row of items">
          <ion-col col-3 *ngFor="let item of row">
            <div class="appIcon icon-{{item.category}}"><div>{{item.name}}</div></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>


</ion-content>



